{
	"mastodon": {
		"instanceUrl": "https://mastodon.social"
		"accessToken": ""
	},
	"bluesky": {
		"instanceUrl": "https://bsky.app",
		"apiUrl": "https://bsky.social",
		"username": "",
		"appPassword": ""
	}
}
